<!DOCTYPE html>
<html>
<head>
    <title>My Todo List APP</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #006699;
        }

        p {
            color: #666666;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #333333;
            margin-right: 10px;
        }

        a:hover {
            color: #006699;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333333;
        }

        input[type="text"] {
            padding: 5px;
            width: 200px;
        }

        input[type="submit"] {
            padding: 5px 10px;
            background-color: #006699;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #004466;
        }
    </style>
</head>
<body>
    <h1>My own Todo-list hosted on EC2 via Jenkins with CI/CD by abhinav</h1>
    <p>Here's the first change</p>
    <ul>
        <% todolist.forEach(function(todo, index) { %>
        <li>
            <a href="/todo/delete/<%= index %>">✘</a>
            <a href="/todo/<%= index %>">✎</a>
            <%- todo %>
        </li>
        <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
        <p>
            <label for="newtodo">What should I do?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus>
            <input type="submit" value="Add">
        </p>
    </form>
</body>
</html>
